<div class="pagination">
  <strong><%= link_to "Précedent", flats_path(pg: [(@current_page - 1), 1].max) %></strong>
  <% if (@page_number > 5) && (@current_page <= 3) %>
    <% for i in (1..[@current_page,1].max+1) do %>
      <%= link_to number_with_delimiter(i, :delimiter => ' '), flats_path(pg: i), class: "pagination-number #{ 'pagination-active' if (@current_page === i) || (@current_page === 0 && i === 1) }" %>
    <% end %>
    ...
    <% for i in (@page_number-1..@page_number) do %>
      <%= link_to number_with_delimiter(i, :delimiter => ' '), flats_path(pg: i), class: "pagination-number #{ 'pagination-active' if (@current_page === i) || (@current_page === 0 && i === 1) }" %>
    <% end %>
  <% elsif (@page_number > 5) && (@current_page >= (@page_number-2)) %>
    <% for i in (1..2) do %>
      <%= link_to number_with_delimiter(i, :delimiter => ' '), flats_path(pg: i), class: "pagination-number #{ 'pagination-active' if (@current_page === i) || (@current_page === 0 && i === 1) }" %>
    <% end %>
    ...
    <% for i in ((@current_page-1)..@page_number) do %>
      <%= link_to number_with_delimiter(i, :delimiter => ' '), flats_path(pg: i), class: "pagination-number #{ 'pagination-active' if (@current_page === i) || (@current_page === 0 && i === 1) }" %>
    <% end %>
  <% elsif (@page_number > 5) %>
    ...
    <% for i in ((@current_page-2)..(@current_page+2)) do %>
      <%= link_to number_with_delimiter(i, :delimiter => ' '), flats_path(pg: i), class: "pagination-number #{ 'pagination-active' if (@current_page === i) || (@current_page === 0 && i === 1) }" %>
    <% end %>
    ...
  <% else %>
    <% for i in (1..@page_number) do %>
      <%= link_to number_with_delimiter(i, :delimiter => ' '), flats_path(pg: i), class: "pagination-number #{ 'pagination-active' if (@current_page === i) || (@current_page === 0 && i === 1) }" %>
    <% end %>
  <% end %>
  <strong><%= link_to "Suivant", flats_path(pg: [([@current_page,1].max + 1), @page_number].min) %></strong>
</div>
