<div class="section">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-devise">

        <h2>Modifier mon mot de passe</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="form-input">
              <%= f.input :email, required: true, autofocus: true %>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>

            <div class="form-input">
              <%= f.input :password, label: "Mot de passe", placeholder:"********", autocomplete: "off", required: false %>
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>

            <div class="form-input">
              <%= f.input :password_confirmation, label: "Confirmation du mot de passe", placeholder:"********", required: false %>
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>

            <div class="form-input">
              <%= f.input :current_password, label: "Mot de passe actuel", hint: "Nous avous besoins de votre mot de passe actuel pour confirmer vos modifications", placeholder:"********", required: true %>
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Mettre à jour" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
