<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="weekly-deals text-center">
        <h1>Deals de la semaine :</h1>
      </div>
    </div>

    <!-- START version mobile hidden -->

      <div class="visible-xs col-xs-6">
        <div class="col-3-xs text-center">
          <input class="effect-1" type="text" placeholder="Quelles villes?">
          <span class="focus-border"></span>
        </div>
      </div>

      <div class="visible-xs col-xs-6">
        <div class="col-3-xs text-center">
          <input class="effect-1" type="text" placeholder="Quels types de bien?">
          <span class="focus-border"></span>
        </div>
      </div>

    <!-- END version mobile hidden -->

    <div class="hidden-xs col-xs-6 col-md-4">
      <div class="col-3 text-center">
        <input class="effect-1" type="text" placeholder="Quelles villes?">
        <span class="focus-border"></span>
      </div>
    </div>

    <div class="hidden-xs col-xs-12 col-md-4">
      <div class="col-3 text-center">
        <input class="effect-1" type="text" placeholder="Quels types de bien?">
        <span class="focus-border"></span>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div id="map" class="hidden-xs">
      Map to be added
    </div>
    <div class="cards-container">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-12"> -->
<!--           <div class="card-add">
            <#% @flats.each do |flat| %>
 -->
            <!-- // start version mobile// -->

            <%#= link_to flat_path(flat) do %>
<!--               <div class="visible-xs row separate">
                <div class="col-xs-12">
                  <div class="box-col-6-3 photo-add">
                    <%#= image_tag flat.photo, {class: "img-box"} %>
                    <div class="round">
                      <%#= link_to flat_wishes_path(flat), method: "post" do %>
                      <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                      <#% end %>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="box-info-add">
                    <div class="details-in-info-add">
                      <h2><%#= flat.title %></h2>
                    </div>
                    <div class="details-in-info-add criteria-numbers">
                      <div class="mini-box-number">
                        <h2><%#= flat.rooms %> p</h2>
                      </div>
                      <div class="mini-box-number">
                        <h2><%#= flat.bedrooms %> chb</h2>
                      </div>
                      <div class="mini-box-number">
                        <h2><%#= flat.size %> m2</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <#% end %> -->

            <!-- // END version mobile// -->

            <!-- // start version desktop// -->
    <div class=" hidden-xs flat-cards">
      <div class="flat-cards-headers">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-4">
          Descriptif
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-1">
          Date
        </div>
        <div class="col-xs-1">
        </div>
      </div>
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat) do %>
          <div class="flat-card">
            <div class="col-xs-3">
              <div class="flat-card-image">
                <%= image_tag flat.photo%>
              </div>
            </div>
            <div class="col-xs-4">
              <p class="flat-card-description"><%= flat.description %>
              </p>
            </div>
            <div class="col-xs-2">
              <p><%= flat.size%> m2</p>
              <% if flat.land_size && flat.land_size > 0 %>
                <p>Terrain <%= flat.land_size %>m²</p>
              <% end %>
              <p><%= flat.price %>€</p>
            </div>
            <div class="col-xs-2">
              <p class=" <%= 'days-alert' if ((DateTime.now.to_f - flat.date.to_f) / 24.hours).round(0) %> >90 " ><%= ((DateTime.now.to_f - flat.date.to_f  ) / 24.hours).round(0) %> jours</p>
            </div>
            <div class="col-xs-1">
              <% if flat.in_wishlist?(current_user) %>
                <%= link_to flat_wish_path(flat, Wish.where(flat: flat).where(user: current_user).last), method: "delete" do %>
                  <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to flat_wishes_path(flat), method: "post" do %>
                  <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- // END version desktop// -->
    </div>
  </div>
</div>
