<div class="section">
  <div class="container">
    <!-- START version desktop -->
    <div class="flats-filters hidden-xs">
      <%= render "shared/search/filter" %>
      <%= render "shared/search/sortbar" %>
    </div>

    <div class="main-container hidden-xs">
      <!-- Map version desktop -->
      <div id="map" data-markers="<%= @markers.to_json %>"
      ></div>
      <div class="cards-container hidden-xs">
        <% if @selected_flats.length > 0 %>
          <div class="flat-cards col-xs-12">
            <% @selected_flats.each do |flat| %>
              <div class="col-xs-6">
                <%= link_to flat_path(flat["id"]), class: "flat-card-form" do %>
                  <div class="flat-card">
                    <div class="col-xs-12 flat-card-image">
                      <% if flat["images"].first.nil? %>
                        <%= image_tag ("default_flat.png") %>
                      <% else %>
                        <%= image_tag flat["images"].first %>
                      <% end %>
                      <% if in_wishlist?(flat) %>
                        <%= link_to wish_path(policy_scope(Wish).where(flat_url: flat["url"]).last), method: "delete" do %>
                          <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                        <% end %>
                      <% else %>
                        <%= link_to wishes_path(flat_url: flat["url"]), method: "post" do %>
                          <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-xs-6 flat-card-description text-center">
                      <p>
                        <strong>Surface</strong>
                        <br>
                        <% if flat["surface"] %>
                         <%= "#{flat["surface"]} m²" %>
                        <% else %>
                          n/a
                        <% end %>
                      </p>
                      <% if flat["plotSurface"] && flat["plotSurface"] > 0 %>
                        <p>
                          <strong>Terrain</strong>
                          <br>
                          <%= flat["plotSurface"] %>m²
                        </p>
                      <% end %>
                    </div>
                    <div class="col-xs-6 flat-card-description text-center">
                      <p>
                        <strong>Prix</strong>
                        <br>
                        <%= number_with_delimiter(flat["price"].round(0), :delimiter => ' ') if !flat["price"].nil? %>€
                      </p>
                    </div>
                    <div class="col-xs-6 flat-card-description">
                      <div class="description-renta text-center">
                        <p>
                          <strong>Rentabilité</strong>
                          <br>
                          <span class="<%#= flat.return_rate > 0 ? 'flat-card-positive-return' : 'flat-card-negative-return' %>"><%#= number_to_percentage(flat.return_rate * 100, precision: 1) %></span>
                        </p>
                      </div>
                    </div>
                    <div class="col-xs-6 flat-card-description text-center">
                      <p>
                        <strong>Date</strong>
                        <br>
                        <span class=" <%= 'flat-card-days-alert' if ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f) / 24.hours).round(0) > 10 %>  " >
                          <% if ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) == 1 %>
                            <%= ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) %> jour
                          <% elsif ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) > 1 %>
                            <%= ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) %> jours
                          <% elsif ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) == 0 %>
                            Aujourd'hui
                          <% end %>
                        </span>
                      </p>
                    </div>
                    <div class="col-xs-12 flat-card-description-address text-center">
                      <p>
                        <strong>Adresse</strong>
                        <br>
                        <span>
                          <%= flat["city"] %>
                        </span>
                      </p>

                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <%= render "shared/search/pagination" %>
        <% end %>
      </div>
    </div>
    <!-- END version desktop -->

    <!-- START version mobile -->
      <div class="cards-container visible-xs">
        <div class="flats-filters">
          <%= link_to "Filtres", "javascript:void(0)", class: "white-btn" %>
          <!-- <div class="flats-order">
            <p>Tri :</p>
            <p class="flats-order-item">Superficie</p>
            <p class="flats-order-item">Prix</p>
            <p class="flats-order-item">Date</p>
            <p class="flats-order-item">Rendement</p>
          </div> -->
        </div>
        <% if @selected_flats.length > 0 %>
          <div class="flat-cards col-xs-12">
            <% @selected_flats.each do |flat| %>
              <div class="col-xs-12">
                <%= form_tag flat_path(flat["id"]), data: { form: flat['id'] }, class: "flat-card-form" do %>
                  <%= hidden_field_tag 'flat_url', flat["url"] %>
                  <%= link_to 'javascript:void(0)', data: { form: flat['id'] } do %>
                    <div class="flat-card">
                      <div class="col-xs-12 flat-card-image">
                        <% if flat["images"].first.nil? %>
                          <%= image_tag ("default_flat.png") %>
                        <% else %>
                          <%= image_tag flat["images"].first %>
                        <% end %>
                        <% if in_wishlist?(flat) %>
                          <%= link_to wish_path(policy_scope(Wish).where(flat_url: flat["url"]).last), method: "delete" do %>
                            <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                          <% end %>
                        <% else %>
                          <%= link_to wishes_path(flat_url: flat["url"]), method: "post" do %>
                            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Surface</strong>
                          <br>
                          <%= flat["surface"] %> m2
                        </p>
                        <% if flat["plotSurface"] && flat["plotSurface"] > 0 %>
                          <p>
                            <strong>Terrain</strong>
                            <br>
                            <%= flat["plotSurface"] %>m²
                          </p>
                        <% end %>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Prix</strong>
                          <br>
                          <%= number_with_delimiter(flat["price"].round(0), :delimiter => ' ') if !flat["price"].nil? %>€
                        </p>
                      </div>
                      <div class="col-xs-6 flat-card-description">
                        <div class="description-renta text-center">
                          <p>
                            <strong>Rentabilité</strong>
                            <br>
                            <span class="<%#= flat.return_rate > 0 ? 'flat-card-positive-return' : 'flat-card-negative-return' %>"><%#= number_to_percentage(flat.return_rate * 100, precision: 1) %></span>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Date</strong>
                          <br>
                          <span class=" <%= 'flat-card-days-alert' if ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f) / 24.hours).round(0) > 10 %>  " >
                            <% if ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) == 1 %>
                              <%= ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) %> jour
                            <% elsif ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) > 1 %>
                              <%= ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) %> jours
                            <% elsif ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) == 0 %>
                              Aujourd'hui
                            <% end %>
                          </span>
                        </p>
                      </div>
                      <div class="col-xs-12 flat-card-description-address text-center">
                        <p>
                          <strong>Adresse</strong>
                          <br>
                          <span>
                            <%= flat["city"] %>
                          </span>
                        </p>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
          <%= render "shared/search/pagination" %>
        <% end %>
      </div>
    </div>
    <!-- END version mobile -->
  </div>
</div>

