<div class="section">
  <div class="container">
    <!-- START version desktop -->
    <div class="flats-filters hidden-xs">
      <button type="button" class="btn dark-btn" data-toggle="modal" data-target="#filterModal">
        Filtres
      </button>

      <!-- Filters modal -->
      <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filterModalLabel">Filtres de recherche</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_tag flats_path, class: "filter-form", method: "get" do %>
                <div class="filter-form-inputs">
                  <%= hidden_field_tag pg: @current_page %>
                  <%= hidden_field_tag sort: @sort_type %>
                  <%= label_tag "Prix" %>
                  <%= text_field_tag 'filter-price' %>
                  <%= label_tag "Rendement" %>
                  <%= text_field_tag 'filter-return' %>
                  <%= label_tag "Surface" %>
                  <%= text_field_tag 'filter-surface' %>
                  <%= label_tag "Nombre de pièces" %>
                  <%= text_field_tag 'filter-rooms' %>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn white-btn" data-dismiss="modal">Fermer</button>
              <%= button_tag "Filtrer", id: "submit", class: "btn" %>
              <!-- <button type="button" class="btn">Filtrer</button> -->
            </div>
            <% end %>
          </div>
        </div>
      </div>


      <div class="sortbar">
        <p>Tri :</p>
        <% if @sort_type == "a-surface" %>
          <%= link_to flats_path(pg: @current_page, sort: "d-surface"), class: "sortbar-i sortbar-i-active", id: "sortbar-i-surface" do %>
            Superficie <i class="fa fa-angle-up" aria-hidden="true"></i>
          <% end %>
        <% elsif @sort_type == "d-surface" %>
          <%= link_to flats_path(pg: @current_page, sort: "a-surface"), class: "sortbar-i sortbar-i-active", id: "sortbar-i-surface" do %>
          Superficie <i class="fa fa-angle-down" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to "Superficie", flats_path(pg: @current_page, sort: "d-surface"), class: "sortbar-i", id: "sortbar-i-surface" %>
        <% end %>

        <% if @sort_type == "a-price" %>
          <%= link_to flats_path(pg: @current_page, sort: "d-price"), class: "sortbar-i sortbar-i-active", id: "sortbar-i-price" do %>
            Prix <i class="fa fa-angle-up" aria-hidden="true"></i>
          <% end %>
        <% elsif @sort_type == "d-price" %>
          <%= link_to flats_path(pg: @current_page, sort: "a-price"), class: "sortbar-i sortbar-i-active", id: "sortbar-i-price" do %>
            Prix <i class="fa fa-angle-down" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to "Prix", flats_path(pg: @current_page, sort: "d-price"), class: "sortbar-i", id: "sortbar-i-price" %>
        <% end %>

        <% if @sort_type == "a-date" %>
          <%= link_to flats_path(pg: @current_page, sort: "d-date"), class: "sortbar-i sortbar-i-active", id: "sortbar-i-date" do %>
            Date <i class="fa fa-angle-up" aria-hidden="true"></i>
          <% end %>
        <% elsif @sort_type == "d-date" %>
          <%= link_to flats_path(pg: @current_page, sort: "a-date"), class: "sortbar-i sortbar-i-active", id: "sortbar-i-date" do %>
            Date <i class="fa fa-angle-down" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to "Date", flats_path(pg: @current_page, sort: "d-date"), class: "sortbar-i", id: "sortbar-i-date" %>
        <% end %>

        <% if @sort_type == "a-return" %>
          <%= link_to flats_path(pg: @current_page, sort: "d-return"), class: "sortbar-i sortbar-i-active", id: "sortbar-i-return" do %>
            Rendement <i class="fa fa-angle-up" aria-hidden="true"></i>
          <% end %>
        <% elsif @sort_type == "d-return" %>
          <%= link_to flats_path(pg: @current_page, sort: "a-return"), class: "sortbar-i sortbar-i-active", id: "sortbar-i-return" do %>
            Rendement <i class="fa fa-angle-down" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to "Rendement", flats_path(pg: @current_page, sort: "d-return"), class: "sortbar-i", id: "sortbar-i-return" %>
        <% end %>
      </div>
    </div>

    <div class="main-container hidden-xs">
      <!-- Map version desktop -->
      <div id="map" data-markers="<%= @markers.to_json %>"
      ></div>
      <div class="cards-container hidden-xs">
        <% if @selected_flats.length > 0 %>
          <div class="flat-cards col-xs-12">
            <% @selected_flats.each do |flat| %>
              <div class="col-xs-6">
                <%= form_tag flat_path(flat["id"]), data: { form: flat['id'] }, class: "flat-card-form" do %>
                  <%= hidden_field_tag 'flat_url', flat["url"] %>
                  <%= link_to 'javascript:void(0)', data: { form: flat['id'] } do %>
                    <div class="flat-card">
                      <div class="col-xs-12 flat-card-image">
                        <% if flat["images"].first.nil? %>
                          <%= image_tag ("default_flat.png") %>
                        <% else %>
                          <%= image_tag flat["images"].first %>
                        <% end %>
                        <% if in_wishlist?(flat) %>
                          <%= link_to wish_path(policy_scope(Wish).where(flat_url: flat["url"]).last), method: "delete" do %>
                            <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                          <% end %>
                        <% else %>
                          <%= link_to wishes_path(flat_url: flat["url"]), method: "post" do %>
                            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Surface</strong>
                          <br>
                          <% if flat["surface"] %>
                           <%= "#{flat["surface"]} m²" %>
                          <% else %>
                            n/a
                          <% end %>
                        </p>
                        <% if flat["plotSurface"] && flat["plotSurface"] > 0 %>
                          <p>
                            <strong>Terrain</strong>
                            <br>
                            <%= flat["plotSurface"] %>m²
                          </p>
                        <% end %>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Prix</strong>
                          <br>
                          <%= number_with_delimiter(flat["price"].round(0), :delimiter => ' ') if !flat["price"].nil? %>€
                        </p>
                      </div>
                      <div class="col-xs-6 flat-card-description">
                        <div class="description-renta text-center">
                          <p>
                            <strong>Rentabilité</strong>
                            <br>
                            <span class="<%#= flat.return_rate > 0 ? 'flat-card-positive-return' : 'flat-card-negative-return' %>"><%#= number_to_percentage(flat.return_rate * 100, precision: 1) %></span>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Date</strong>
                          <br>
                          <span class=" <%= 'flat-card-days-alert' if ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f) / 24.hours).round(0) > 10 %>  " >
                            <% if ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) == 1 %>
                              <%= ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) %> jour
                            <% elsif ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) > 1 %>
                              <%= ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) %> jours
                            <% elsif ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) == 0 %>
                              Aujourd'hui
                            <% end %>
                          </span>
                        </p>
                      </div>
                      <div class="col-xs-12 flat-card-description-address text-center">
                        <p>
                          <strong>Adresse</strong>
                          <br>
                          <span>
                            <%= flat["city"] %>
                          </span>
                        </p>

                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="pagination">
            <strong><%= link_to "Précedent", flats_path(pg: [(@current_page - 1), 1].max) %></strong>
            <% for i in (1..@page_number) do %>
              <%= link_to i, flats_path(pg: i), class: "pagination-number #{ 'pagination-active' if (@current_page === i) || (@current_page === 0 && i === 1) }" %>
            <% end %>
            <strong><%= link_to "Suivant", flats_path(pg: [(@current_page + 1), @page_number].min) %></strong>
          </div>
        <% end %>
      </div>
    </div>
    <!-- END version desktop -->

    <!-- START version mobile -->
      <div class="cards-container visible-xs">
        <div class="flats-filters">
          <%= link_to "Filtres", "javascript:void(0)", class: "white-btn" %>
          <!-- <div class="flats-order">
            <p>Tri :</p>
            <p class="flats-order-item">Superficie</p>
            <p class="flats-order-item">Prix</p>
            <p class="flats-order-item">Date</p>
            <p class="flats-order-item">Rendement</p>
          </div> -->
        </div>        <% if @selected_flats.length > 0 %>
          <div class="flat-cards col-xs-12">
            <% @selected_flats.each do |flat| %>
              <div class="col-xs-12">
                <%= form_tag flat_path(flat["id"]), data: { form: flat['id'] }, class: "flat-card-form" do %>
                  <%= hidden_field_tag 'flat_url', flat["url"] %>
                  <%= link_to 'javascript:void(0)', data: { form: flat['id'] } do %>
                    <div class="flat-card">
                      <div class="col-xs-12 flat-card-image">
                        <% if flat["images"].first.nil? %>
                          <%= image_tag ("default_flat.png") %>
                        <% else %>
                          <%= image_tag flat["images"].first %>
                        <% end %>
                        <% if in_wishlist?(flat) %>
                          <%= link_to wish_path(policy_scope(Wish).where(flat_url: flat["url"]).last), method: "delete" do %>
                            <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                          <% end %>
                        <% else %>
                          <%= link_to wishes_path(flat_url: flat["url"]), method: "post" do %>
                            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Surface</strong>
                          <br>
                          <%= flat["surface"] %> m2
                        </p>
                        <% if flat["plotSurface"] && flat["plotSurface"] > 0 %>
                          <p>
                            <strong>Terrain</strong>
                            <br>
                            <%= flat["plotSurface"] %>m²
                          </p>
                        <% end %>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Prix</strong>
                          <br>
                          <%= number_with_delimiter(flat["price"].round(0), :delimiter => ' ') if !flat["price"].nil? %>€
                        </p>
                      </div>
                      <div class="col-xs-6 flat-card-description">
                        <div class="description-renta text-center">
                          <p>
                            <strong>Rentabilité</strong>
                            <br>
                            <span class="<%#= flat.return_rate > 0 ? 'flat-card-positive-return' : 'flat-card-negative-return' %>"><%#= number_to_percentage(flat.return_rate * 100, precision: 1) %></span>
                          </p>
                        </div>
                      </div>
                      <div class="col-xs-6 flat-card-description text-center">
                        <p>
                          <strong>Date</strong>
                          <br>
                          <span class=" <%= 'flat-card-days-alert' if ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f) / 24.hours).round(0) > 10 %>  " >
                            <% if ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) == 1 %>
                              <%= ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) %> jour
                            <% elsif ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) > 1 %>
                              <%= ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) %> jours
                            <% elsif ((DateTime.now.to_f - DateTime.strptime(flat["date"]).to_f  ) / 24.hours).round(0) == 0 %>
                              Aujourd'hui
                            <% end %>
                          </span>
                        </p>
                      </div>
                      <div class="col-xs-12 flat-card-description-address text-center">
                        <p>
                          <strong>Adresse</strong>
                          <br>
                          <span>
                            <%= flat["city"] %>
                          </span>
                        </p>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="pagination">
            <strong><%= link_to "Précedent", flats_path(pg: [(@current_page - 1), 1].max) %></strong>
            <% for i in (1..@page_number) do %>
              <%= link_to i, flats_path(pg: i), class: "pagination-number #{ 'pagination-active' if (@current_page === i) || (@current_page === 0 && i === 1) }" %>
            <% end %>
            <strong><%= link_to "Suivant", flats_path(pg: [(@current_page + 1), @page_number].min) %></strong>
          </div>
        <% end %>
      </div>
    </div>
    <!-- END version mobile -->
  </div>
</div>

