<% content_for(:title_tag) do %>
  Prosper - Annonce <%= @flat.title %>
<% end %>

<div class=" section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="show-flat-container">
          <div class="row">
            <div class="col-xs-12">
              <div class="show-flat-title">
                <h1 class="page-title text-center"><%= "#{@flat.title} - #{number_with_delimiter(@flat.price.round(0), :delimiter => ' ')}€" %></h1>
                <% if in_wishlist?(@flat) %>
                  <%= link_to wish_path(policy_scope(Wish).where(flat_url: @flat.url).last), method: "delete" do %>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <%= link_to wishes_path(flat_url: @flat.url), method: "post" do %>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                  <% end %>
                <% end %>
                <%= link_to "Voir l'annonce", @flat.url, class: "btn", target: :_blank %>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="show-flat-images">
                <% if @flat.images.first.nil? %>
                  <%= image_tag ("default_flat.png") %>
                <% else %>
                  <div id="carousel-flat-images" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <% @flat.images.each_with_index do |image, index| %>
                        <li data-target="#carousel-flat-images" data-slide-to="<%= index %>" class="<%= "active" if index == 0 %>">
                          <%= image_tag @flat.images[index], class: "item" %>
                        </li>
                      <% end %>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                      <% @flat.images.each_with_index do |image, index| %>
                        <div class="item <%= "active" if index == 0 %>">
                          <%= image_tag @flat.images[index] %>
                        </div>
                      <% end %>
                    </div>
                    <%= link_to "#carousel-flat-images", class: "left carousel-control", data: { slide: "prev"}, role: "button" do %>
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Précédent</span>
                    <% end %>
                    <%= link_to "#carousel-flat-images", class: "right carousel-control", data: { slide: "next"}, role: "button" do %>
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Suivant</span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="show-flat-information">
                <div class="row">
                  <div class="col-xs-offset-4 col-xs-4">
                    <p><strong>Annonce</strong></p>
                  </div>
                  <div class="col-xs-4">
                    <p><strong>Quartier</strong></p>
                  </div>
                  <div class="col-xs-4">
                    <p><strong>Prix</strong></p>
                  </div>
                  <div class="col-xs-4">
                    <p class="<%= @flat.price > @flat.avg_price ? 'flat-negative' : 'flat-positive' %>">
                      <% if price_per_squared_meter(@flat) && (price_per_squared_meter(@flat) > 0) %>
                        <%= number_with_delimiter(price_per_squared_meter(@flat).round(0), :delimiter => ' ') %>€/m²
                      <% else %>
                        n/a
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <% if @flat.avg_price > 0 %>
                        <%= number_with_delimiter(@flat.avg_price.to_i.round(0), :delimiter => ' ') %>€/m²
                        <% else %>
                          n/a
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p><strong>Surface</strong></p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <% if @flat.surface && (@flat.surface > 0) %>
                        <span id="js-size"><%= number_with_delimiter(@flat.surface, :delimiter => ' ') %></span>m²
                      <% else %>
                        n/a
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <% if @flat.avg_surface > 0 %>
                        <%= @flat.avg_surface.round(0) %>m²
                      <% else %>
                          n/a
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p><strong>Terrain</strong></p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <% if @flat.plotsurface && (@flat.plotsurface > 0) %>
                        <%= number_with_delimiter(@flat.plotsurface, :delimiter => ' ') %>m²
                      <% else %>
                        n/a
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <% if @flat.avg_plotsurface > 0 %>
                        <%= @flat.avg_plotsurface.round(0) %>
                      <% else %>
                        n/a
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p><strong>Pièces</strong></p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <% if @flat.rooms && (@flat.rooms > 0) %>
                        <span id="js-size"><%= number_with_delimiter(@flat.rooms, :delimiter => ' ') %></span>
                      <% else %>
                        n/a
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <% if @flat.avg_rooms > 0 %>
                        <%= @flat.avg_rooms.round(0) %>
                      <% else %>
                        n/a
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p><strong>Date</strong></p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <span class=" <%= 'flat-card-days-alert' if ((DateTime.now.to_f - @flat.date.to_f) / 24.hours).round(0) > 10 %>  " >
                        <% if ((DateTime.now.to_f - @flat.date.to_f  ) / 24.hours).round(0) == 1 %>
                          <%= ((DateTime.now.to_f - @flat.date.to_f  ) / 24.hours).round(0) %> jour
                        <% elsif ((DateTime.now.to_f - @flat.date.to_f  ) / 24.hours).round(0) > 1 %>
                          <%= ((DateTime.now.to_f - @flat.date.to_f  ) / 24.hours).round(0) %> jours
                        <% elsif ((DateTime.now.to_f - @flat.date.to_f  ) / 24.hours).round(0) == 0 %>
                          Aujourd'hui
                        <% end %>
                      </span>
                    </p>
                  </div>
                  <div class="col-xs-4">
                    <p>
                      <% if @flat.avg_date %>
                        <%= @flat.avg_date.round(0) %>j
                        <% else %>
                          n/a
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="show-flat-description">
            <div class="row">
              <div class="col-xs-12">
                <p><strong>Description :</strong></p>
                <p><%= @flat.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Flat card with price history -->
      <div class="col-xs-12 col-sm-6">
        <div class="show-flat-card-header">
          <h2 class="text-center">Comparaison au marché</h2>
        </div>
        <div class="show-flat-card">
          <div id="flat-chart" style="height: 200px;"></div>
          <div id="flat-chart-size" style="height: 200px;"></div>
          <%= javascript_tag do %>
            const data = <%= @chart_data.to_json.html_safe %>;
            const dataSize = <%= @chart_2_data.to_json.html_safe %>;
          <% end %>
        </div>
      </div>

      <!-- Flat card with return calculation -->
      <div class="col-xs-12 col-sm-6">
        <div class="show-flat-card-header">
          <h2 class="text-center">Rentabilité potentielle <span id="flat-return" class="<%= @flat.investment_return > 0 ? "show-flat-positive-return" : "show-flat-negative-return" %>"><%= number_to_percentage(@flat.investment_return * 100, precision: 1) %></span></h2>
          <i class="fa fa-question-circle" title="La rentabilité théorique est un taux de rentabilité interne qui dépend de la durée du projet, du prix du revente, des coûts de travaux, des coûts de financement et des frais de notaire estimés."></i>
        </div>
        <div class="show-flat-card">
          <div class="show-flat-card-contribution">
          </div>

          <div class="show-flat-card-investment-assumptions">
            <div class="col-xs-12">
              <div id="js-return-list">
                <strong>Détail calcul <i id="js-return-item" class="fa fa-angle-down" aria-hidden="true"></i><i id="js-return-item" class="fa fa-angle-right hidden" aria-hidden="true"></i></strong>
              </div>
            </div>
            <div id="js-return-item">
              <div class="col-xs-12">
                <p>
                  <strong>Prix d'achat :</strong>
                  <span id="js-price"><%= number_with_delimiter((@flat.price).to_i, :delimiter => ' ') %></span> €
                  (apport de <span id="js-contribution"><%= number_with_delimiter((@flat.price * 0.20).to_i, :delimiter => ' ') %></span> €)
                </p>
              </div>
              <div class="col-xs-6">
                <p>Travaux : <span id="js-refurbishment">0</span> €</p>
              </div>
              <div class="col-xs-6">
                <p>Frais de notaire : <span id="js-notarial-costs"><%= number_with_delimiter((-@flat.avg_price * @flat.surface * 0.025).to_i, :delimiter => ' ') %></span> €</p>
              </div>
              <div class="col-xs-6">
                <p>Frais financiers : <span id="js-financing-costs"><%= number_with_delimiter((- @flat.price * + 0.2 * 0.03).to_i, :delimiter => ' ') %></span> €</p>
              </div>
              <div class="col-xs-12">
                <p>
                  <strong>Coûts de revient :</strong>
                  <span id="js-prime-costs"><%= number_with_delimiter((-@flat.price + -0.025 * @flat.avg_price * @flat.surface - @flat.price * 0.2 * 0.03).to_i, :delimiter => ' ') %></span> €
                </p>
              </div>
              <div class="col-xs-12">
                <p>
                  <strong>Prix de revente :</strong>
                  <span id="js-selling-price"><%= number_with_delimiter((@flat.avg_price * @flat.surface).round(0), :delimiter => ' ') %></span> €
                </p>
              </div>
              <div class="col-xs-12">
                <p>
                  <strong>Marge nette :</strong>
                  <span id="js-return"><%= number_with_delimiter((@flat.avg_price * @flat.surface * (1 - 0.025) - @flat.price * (1 + 0.2 * 0.03)).to_i, :delimiter => ' ') %></span> €
                  (<span id="js-return-rate"><%= number_to_percentage(@flat.investment_return * 100, precision: 1) %></span>)
                </p>
              </div>
            </div>
            <div class="col-xs-12">
              <div id="js-assumption-list">
                <strong>Hypothèses <i id="js-assumption-item" class="fa fa-angle-down" aria-hidden="true"></i><i id="js-assumption-item" class="fa fa-angle-right hidden" aria-hidden="true"></i></strong>
              </div>
            </div>
            <div id="js-assumption-item">
              <div class="col-xs-12 col-sm-6">
                <div class="show-flat-card-investment-assumption">
                  <p>Prix</p>
                  <p><span id="js-price"><%= number_with_delimiter(@flat.price.round(0), :delimiter => ' ') %></span> €</p>
                </div>
                <input id="flat-price-slider" data-slider-id='flatPriceSlider' type="text" data-slider-min="5000" data-slider-max="<%= (@flat.price.to_f * 2).to_i %>" data-slider-step="5000" data-slider-value="<%= @flat.price %>"/>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="show-flat-card-investment-assumption">
                  <p>Apport personnel</p>
                  <p><span id="js-contribution"><%= number_with_delimiter((@flat.price * 0.2).to_i, :delimiter => ' ') %></span> €</p>
                </div>
                <input id="flat-contribution-slider" data-slider-id='flatContributionSlider' type="text" data-slider-min="0" data-slider-max="<%= @flat.price %>" data-slider-step="5000" data-slider-value="<%= (@flat.price * 0.2).to_i %>"/>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="show-flat-card-investment-assumption">
                  <p>Taux d'intérêt<p>
                  <p><span id="js-interest-rate">3%</span></p>
                </div>
                <input id="flat-interest-slider" data-slider-id='flatInterestSlider' type="text" data-slider-min="0" data-slider-max="0.2" data-slider-step="0.005" data-slider-value="0.03"/>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="show-flat-card-investment-assumption">
                  <p>Durée emprunt</p>
                  <p><span id="js-loan-duration">12</span> mois</p>
                </div>
                <input id="flat-loan-duration-slider" data-slider-id='flatLoanSlider' type="text" data-slider-min="0" data-slider-max="36" data-slider-step="1" data-slider-value="12"/>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="show-flat-card-investment-assumption">
                  <p>Rénovation</p>
                  <p><span id="js-refurbishment-per-meter">0</span> €/m²</p>
                </div>
                <input id="flat-refurbishment-slider" data-slider-id='flatRefurbishmentSlider' type="text" data-slider-min="0" data-slider-max="1200" data-slider-step="50" data-slider-value="0"/>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="show-flat-card-investment-assumption">
                  <p>Prix de revente</p>
                  <p><span id="js-selling-price"><%= number_with_delimiter((@flat.avg_price * @flat.surface).to_i, :delimiter => ' ') %></span> €
                </div>
                <input id="flat-selling-price-slider" data-slider-id='flatSellingPriceSlider' type="text" data-slider-min="0" data-slider-max="<%= (@flat.avg_price * @flat.surface * 3).to_i %>" data-slider-step="5000" data-slider-value="<%= (@flat.avg_price * @flat.surface).to_i %>"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Flat map -->
    <% if @marker.length > 0 %>
      <div class="row">
        <div class="col-xs-12">
          <div id="map" data-markers="<%= @marker.to_json %>" style="height: 600px;"
          ></div>
        </div>
      </div>
    <% end %>

  </div>
</div>
