<!-- Footer -->
<footer id="main-footer">
  <div class="container footer sticky-footer">
    <div class="row">
      <div class="text-center col-xs-12 col-sm-6">
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
          <p>© 2017. All rights reserved.</p>
        <% end %>
      </div>
      <div class="footer-links col-xs-12 col-sm-6">
        <ul>
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li>
            <%= link_to "Contact us", contact_path %>
          </li>
          <li>
            <%= link_to "javascript:void(0)", target: :_blank do %>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "javascript:void(0)", target: :_blank do %>
              <i class="fa fa-medium" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "javascript:void(0)", target: :_blank do %>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "javascript:void(0)", target: :_blank do %>
              <i class="fa fa-instagram" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
