<div class="section access-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1 class="text-center">
          Utiliser H. au quotidien
        </h1>
        <h3>
          Enreistrer vous dès maintenant pour bénéficier des meilleurs tarifs en tant que premiers utilisateurs de H.
        </h3>
        <div class="access-section-form text-center">
          <%= form_tag access_request_path, class: "access-form" do %>
            <div class="access-form-title">
              <h1>Demander un accès</h1>
            </div>
            <div class="access-form-inputs">
              <%= text_field_tag 'first_name', nil, placeholder: "Prénom" %>
              <%= text_field_tag 'last_name', nil, placeholder: "Nom" %>
              <%= text_field_tag 'email', nil, placeholder: "Email" %>
              <%= text_field_tag 'company', nil, placeholder: "Société" %>
              <%= button_tag "Demander un accès", id: "submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
