<section class="access-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>
          Benefit from early access
        </h1>
        <h3>
          Sign up now for early access to our customers' private betas. Tell us what you really think and help shape the next wave of property products.
        </h3>
        <div class="access-section-form text-center">
          <%= form_tag subscribe_path, class: "access-form" do %>
            <div class="access-form-title">
              <h1>Request an early access</h1>
            </div>
            <div class="access-form-inputs">
              <%= text_field_tag 'first_name', nil, placeholder: "First name" %>
              <%= text_field_tag 'last_name', nil, placeholder: "Last name" %>
              <%= text_field_tag 'email', nil, placeholder: "Email address" %>
              <%= text_field_tag 'company', nil, placeholder: "Company" %>
              <%= button_tag "Subscribe", id: "submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
