<section class="banner" style="background-image: url('<%= image_url("banner-image.png") %>');">
  <div class="banner-section text-center">
    <h1>
      Automatiser votre prospection
    </h1>
    <h3>La <strong>big data</strong> enfin au service des marchands de biens</H3>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <button class="btn-red">ESSAYER</button>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-real-estate">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <div>
          <h1>
            H. <strong>prospecte</strong> à votre place
          </h1>
          <p>H. prospecte sans cesse et se base sur les chiffres réels du marché, prix/m2, typologie de bien, projets regionaux etc  </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-real-estate-media" style="background-image: url(<%= image_url "landing-real-estate.png" %>)">
          <%= image_tag "landing-real-estate-content.png", class: 'hidden' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-studio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-studio-media" style="background-image: url(<%= image_url "landing-studio.png" %>)">
          <%= image_tag "landing-studio-content.png", class: 'hidden' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          H. sélectionne pour vous <strong>les meilleurs</strong> annonces
        </h1>
        <p>H. anticipe le marché et vous propose les annonces ayant le plus de potentielles dans les villes ou vous recherchez des opportunités. H. ne regarde pas que le prix/m2, mais analyse une trentaine d'éléments afin de vous proposer uniquement les opportunités qui ont du sens. </p>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-products">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          H. vous permet enfin de <strong>d'optimiser vos marges</strong>
        </h1>
        <p>H. est un grand mathematicien et il sait que vous rechercher à faire des marges confortables mais aussi que vous voulez des garanties</p>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-products-media" style="background-image: url(<%= image_url "landing-expertise.png" %>)">
          <%= image_tag "landing-expertise-content.png", class: 'hidden' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-team-media" style="background-image: url(<%= image_url "landing-team.png" %>)">
          <%= image_tag "landing-team-content.png", class: 'hidden' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          Un robot <strong>intelligent</strong>
        </h1>
        <p>H. est le premier robot prospecteur au monde, il s'améliore constamment grace à son intelligence artificielle.</p>
      </div>
    </div>
  </div>
</section>
