<section class="banner" style="background-image: url('<%= image_url("banner-image.png") %>');">
  <div class="banner-section text-center">
    <h1>
      Reshaping real estate
    </h1>
    <h3>We are building great products to rethink real estate.</H3>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <%= form_tag subscribe_path, class: "subscription-form" do %>
          <%= text_field_tag 'email', nil, placeholder: "Your email", id: "email_subscription" %>
          <%= button_tag "Stay tuned", id: "submit" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-real-estate">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <div>
          <h1>
            We are <strong>rethinking</strong> real estate
          </h1>
          <p>Build Studio is creating with passion scalable businesses that will disrupt the property industry.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-real-estate-media" style="background-image: url(<%= image_url "landing-real-estate.png" %>)">
          <%= image_tag "landing-real-estate-content.png", class: 'hidden' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-studio">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-studio-media" style="background-image: url(<%= image_url "landing-studio.png" %>)">
          <%= image_tag "landing-studio-content.png", class: 'hidden' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          We are a <strong>startup studio</strong>
        </h1>
        <p>We generate and test unique business ideas in the property industry. Our studio works with brilliant entrepreneurs to build and test innovative products. Companies with traction become progressively financially and operationally independent.</p>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-products">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          We benefit from an <strong>industry expertise</strong>
        </h1>
        <p>We foster cooperation and strategic partnerships with all major property brokers, asset managers, loan officers to exchange business insights and discuss collaboration opportunities.</p>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-products-media" style="background-image: url(<%= image_url "landing-expertise.png" %>)">
          <%= image_tag "landing-expertise-content.png", class: 'hidden' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing-section landing-team">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 landing-section-media">
        <div id="landing-team-media" style="background-image: url(<%= image_url "landing-team.png" %>)">
          <%= image_tag "landing-team-content.png", class: 'hidden' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 landing-section-content">
        <h1>
          We work with <strong>talented people</strong>
        </h1>
        <p>If you are passionate about reinventing an entire industry through innovative technology, Build and our studio companies are the places for you.</p>
      </div>
    </div>
  </div>
</section>
